@import url("https://meyerweb.com/eric/tools/css/reset/reset.css");
* {
  border: 0.05px solid rgba(255, 0, 0, 0) !important;
}
/* 首頁 */
.picture
{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("picture.gif");
  background-position: center center;
  width: 100vw;
  height: 90vh;
  background-size: cover;
  color:white;
  /* opacity: 0.5; */
}
.picturetitle {
  max-width: 1200px;
  margin: 350px auto auto auto;
}

.picturetitle h1 {
  text-align: center;
  font-size: 50px;
  font-weight: 900;
  margin: 48px 0 57px 0;
}
.picturetitle  p {
  text-align: center;
  font-size: 18px;
  margin-bottom: 70px;
  line-height: 2;
}
.nav
{
  width: 100vw;
  height: 10vh;
  background-color:#F2C335;
}
.nav a {
    text-decoration: none;
    color: white;
}
.nav ul {
  height: 100px;
  max-width: 1200px;
  margin: 0 auto 0 auto;
  text-align: center;
 }
.nav ul li {
    display: inline-block;
    font-size: 24px;
    margin-top: 20px;
    padding: 20px;
} 
.nav ul #logo {
  font-size: 50px;
  vertical-align: top;
  margin: 0 50px; 
} 

.content  {
  max-width: 1200px;
  margin: 0 auto;
}

.content .title {
  text-align: center;
}

.content  .title h1 {
  font-size: 50px;
  font-weight: 900;
  margin: 48px 0 57px 0;
}

.content .title p {
  font-size: 18px;
  margin-bottom: 70px;
  line-height: 2;
  
}
.content .about {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 100px;
}

.content .about h2 {
  font-size: 30px;
  margin-bottom: 50px;
}

.content .about p {
  font-size: 18px;
  line-height: 2;
}


/*  最新消息*/
.picture1
{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("picture1.png");
  width: 100vw;
  height: 90vh;
  background-size: cover;
  color:white;
}
.picture1title {
  max-width: 1200px;
  margin: 350px auto auto auto;
}

.picture1title h1 {
  text-align: center;
  font-size: 50px;
  font-weight: 900;
  margin: 48px 0 57px 0;
}
.picture1title p {
  text-align: center;
  font-size: 18px;
  margin-bottom: 70px;
  line-height: 2;
}
.news {
  max-width: 1200px;
  margin: 0 auto;
}

.news .title {
  text-align: center;
}

.news .title h1 {
  font-size: 50px;
  font-weight: 900;
  margin: 48px 0 57px 0;
}
.news.title p {
  font-size: 18px;
  margin-bottom: 70px;
  line-height: 2;
  
}
.news .about {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 100px;
}

.news.about h2 {
  font-size: 30px;
  margin-bottom: 50px;
}

.news .message p {
  font-size: 18px;
  line-height: 2;
}

/* 菜單介紹*/
.picture2
{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("picture2.png");
  background-position: center center;
  width: 100vw;
  height: 90vh;
  background-size: cover;
  color:white;
  /* opacity: 0.5; */
}
.picture2title {
  max-width: 1200px;
  margin: 350px auto auto auto;
}

.picture2title h1 {
  text-align: center;
  font-size: 50px;
  font-weight: 900;
  margin: 48px 0 57px 0;
}
.picture2title p {
  text-align: center;
  font-size: 18px;
  margin-bottom: 70px;
  line-height: 2;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.container .title {
  text-align: center;
}
.container .title h1 {
  font-size: 60px;
  font-weight: 900;
  margin: 48px 0 57px 0;
}
.container .title p {
  font-size: 18px;
  margin-bottom: 82px;
}
.container .productBox {
display: grid;
grid-template-columns: auto auto auto;
grid-gap: 20px;
}
.container .productBox .product img {
  width: 100%;
}
.productBox .product h2 {
  font-size: 30px;
  margin: 20px 0 30px 0;
  text-align: center;
}
.productBox .product p {
  text-align:center;
  font-size: 22px;
  line-height: 2;
}
.single { 
  font-size:22px; 
  font-family:"Arial Black"; 
  color:#b4272d;}
.parkage { 
  font-size:22px; 
  font-family:"Arial Black"; 
  color:#ff6a06;
}


/* 網路預約 */
.picture3
{
  background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("picture3.png");
  background-position: center center;
  width: 100vw;
  height: 90vh;
  background-size: cover;
  color:white;
  /* opacity: 0.5; */
}
.forminline {
  max-width: 1200px;
  margin: 0 auto;
}
.picture3title {
  max-width: 1200px;
  margin: 350px auto auto auto;
}

.picture3title h1 {
  text-align: center;
  font-size: 50px;
  font-weight: 900;
  margin: 48px 0 57px 0;
}
.picture3title p {
  text-align: center;
  font-size: 18px;
  margin-bottom: 70px;
  line-height: 2;
}
.table1 {
  width: 1200px;
  /* height: 900px; */
  margin: 60px; auto;
  padding: 30px 70px;
  box-shadow: 0 3px 30px rgba(0, 0, 0, 0.3);
 }
.table1 input[type="date"], input[type="time"], input[type="tel"],input[type="number"], input[type="text"]{
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.5);
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
}
.table1 input[type="reset"], input[type="submit"] {
  width: 230px;
  height: 50px;
  margin:30px 30px;
  background-color: indianred;
  border: 2px solid rgba(0, 0, 0, 0.3);
}
.table1 input[type="reset"]:hover, input[type="submit"]:hover {
  background-color: rgba(255, 255, 255, 0.3);
}


 
/* 聯絡我們 */
.picture4
{
  background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("picture4.png");
  background-position: center center;
  width: 100vw;
  height: 90vh;
  background-size: cover;
  color:white;
  /* opacity: 0.5; */
}
.picture4title {
  max-width: 1200px;
  margin: 350px auto auto auto;
}

.picture4title h1 {
  text-align: center;
  font-size: 50px;
  font-weight: 900;
  margin: 48px 0 57px 0;
}
.picture4title p {
  text-align: center;
  font-size: 18px;
  margin-bottom: 70px;
  line-height: 2;
}
.forminline1{
  max-width: 1200px;
  margin: 0 auto;
}
.forminline1 .title {
  text-align :center;
}
.forminline1 .title h1 {
  font-size: 60px;
  font-weight: 900;
  margin: 48px 0 57px 0;
}
.forminline1 .title p {
  font-size: 18px;
  margin-bottom: 82px;
  line-height: 2;
}
.table2{
  width: 1200px;
  /* margin-top:5px;  */
  margin: 30px auto;
  padding: 30px 70px;
  box-shadow: 0 3px 30px rgba(0, 0, 0, 0.4);
}

.table2 input, select, textarea {
  outline: none;
}

.table2 input[type="text"], input[type="tel"], input[type="password"], select, fieldset, textarea {
  background-color: rgba(0, 0, 0, 0.1);
  border: 2px solid rgba(0, 0, 0, 0.5);
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
}

.table2 input[type="radio"] {
  height: 18px;
  width: 18px;
  margin: 10px;
  vertical-align: middle;
}
.table2 input[type="checkbox"] {
  height: 22px;
  width: 22px;
  vertical-align: middle;
}


.table2 input[type="reset"], input[type="submit"] {
  width: 230px;
  height: 50px;
  margin: 30px;
  background-color: indianred;
  border: 2px solid rgba(0, 0, 0, 0.3);
  /* color: rgba(255, 255, 255, 0.3); */
}

.table2 input[type="reset"]:hover, input[type="submit"]:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.table2 button {
  width: 800px;
  text-align: center;
  display: inline-block;
}

  
/* 登入 */
.picture5
{
  background-image: url("picture5.jpg");
  width: 100%;
  height: 400px;
  background-position: center center;
  background-size:100%;
  background-repeat:no-repeat;
}
.login{
  width: 800px;
  margin: 30px auto;
  padding: 30px 70px;
  box-shadow: 0 3px 30px rgba(0, 0, 0, 0.3);
}
.login input[type="text"] ,input[type="password"] {
  background-color: rgba(0, 0, 0, 0.1);
  border: 2px solid rgba(0, 0, 0, 0.5);
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
}
.login input[type="reset"]{
  width: 230px;
  height: 50px;
  margin: 30px;
  background-color: indianred;
  border: 2px solid rgba(0, 0, 0, 0.3);
  /* color: rgba(255, 255, 255, 0.3); */
}
.login button {
  width: 100%;
  text-align: center;
  display: inline-block;
}
.login input[ type="reset"]:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

/* 頁尾 */
.footer {
  background-color: #732F17;
  margin-top: 100px;
  padding: 20px 0;
}
.footerbox {
  max-width: 1200px;
  height: auto;
  display: grid;
  grid-template-columns:  33% 33% 33%;
  color: white;
  text-align: center;
  line-height: 30px;
  margin-top: 100px;
  margin: 0 auto;
}  
.footer ul {
  list-style: none;
}
.link h3 p{
  margin-bottom: 50px;  
} 
.link a{
  color: white;
  text-decoration: none;
}
.footer .follow a {
  display: inline-block;
  padding: 10px;
}
.footer .follow a img {
  width: 100%;
}
footer .copyright {
  /* margin-top: 30px; */
  text-align: center;
}

/* 回到頁面上方 */
#btnTop {
  position: fixed;
  right: 30px;
  bottom: 30px;
  cursor: pointer;
  border: 3px solid #fff;
  border-radius: 50%;
  padding: 5px;
  display: none;
}

/* RWD */
@media screen and (max-width: 768px) {
 .content .about {
  grid-template-columns: 100%;
  margin: auto auto;
  }
.news .about {
    grid-template-columns: 100%;
    margin: auto auto;
}
  .container .productBox {
  grid-template-columns: auto auto;
  }
  .footer {
   grid-template-columns:  100%;
   margin: auto auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1025px) {
  .content .about {
   grid-template-columns: 100%;
   margin: auto auto;
  }
  .news.about  {
    grid-template-columns: 100%;
    margin: auto auto;
   }
  .footer {
    grid-template-columns:  100%;
    margin: auto auto;
  }
}
